FreeTube
VencordDesktop
btop
chromium
environment.d
glib-2.0/settings
gtk-3.0
gtk-4.0
kde.org
kdedefaults
lazygit
pulse
session
xsettingsd
QtProject.conf
Trolltech.conf
akregatorrc
baloofilerc
dolphinrc
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
kmixrc
konsolerc
konsolesshconfig
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
mimeapps.list
okularpartrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmaparc
plasmashellrc
powermanagementprofilesrc
spectaclerc
startkderc
systemsettingsrc
trashrc
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
